BACKPACK_API_KEY=your_api_key
DEBUG_MODE=true
LOG_LEVEL=info
LOG_LOCATION=logs/app.log
SECRET=secretkey
MONITORLOOP_DELAY_INTERVAL=seconds for checking prices
TELEGRAM_BOT_TOKEN_PROD=prodbottoken
TELEGRAM_BOT_TOKEN=devbottoken
CHAT_GROUP_ID_PROD=-prodchatgroupid
CHAT_GROUP_ID=devchatgroupid
API_MASTER_KEY=API_master_key
API_TRADING_KEY=API_trading_key
API_READONLY_KEY=API_readonly_key
WEBHOOK_SECRET=WEBHOOK_SECRET
PORT=port_number
TELEGRAM_ENABLED=True or False
TELEGRAM_MODE=polling or webhook
BP_API_KEY_1H=your_api_key
BP_SECRET_1H=secretkey
DATABASE_URL=neon_database_connection_url

