API_MASTER_KEY=API_master_key
API_READONLY_KEY=API_readonly_key
API_TRADING_KEY=API_trading_key
BACKPACK_API_KEY=your_api_key
SECRET=secretkey
BP_API_KEY_1H=your_api_key
BP_SECRET_1H=secretkey
BP_API_KEY_1H=your_api_key
BP_SECRET_1H=secretkey
BP_API_KEY_1M=your_api_key
BP_SECRET_1M=secretkey
BP_API_KEY_1M_ATR=your_api_key
BP_SECRET_1M_ATR=secretkey
CHAT_GROUP_ID_PROD=-prodchatgroupid
CHAT_GROUP_ID=devchatgroupid
DATABASE_URL_PROD=neon_database_connection_url
DATABASE_URL=neon_database_connection_url
DEBUG_MODE=true
LOG_LEVEL=INFO
LOG_LOCATION=logs/app.log
MONITORLOOP_DELAY_INTERVAL=seconds for checking prices
PORT=port_number
SECRET=secretkey
TELEGRAM_BOT_TOKEN_PROD=prodbottoken
TELEGRAM_BOT_TOKEN=devbottoken
TELEGRAM_WEBHOOK_URL_PROD="URL for webhook"
WEBHOOK_SECRET=WEBHOOK_SECRET
TELEGRAM_ENABLED=True
WEBHOOK_SECRET=webhook_secret
JWT_SECRET=jwt_secret
JWT_ACCESS_EXPIRE_MIN=15
JWT_REFRESH_EXPIRE_HR=336